<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Database Information</title>
    <div th:replace="fragments/header :: header-css"></div>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css" />-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/helpers.css}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/visualization/go-back.css}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/visualization/graphs/networks.css}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/visualization/graphs/networks-menu.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/visualization/graphs/slider.css}"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <!--div class="container"-->
    <th:block th:if="${!emptySVG}">
        <div class="portrait-correction row">
            <svg class="portrait-correction col m8 s12 mt-20 md-ml-50 p-0" id="d3"
                 th:attr="data-type=${type}, data-nodes=${preNodes}, data-links=${preLinks}, data-intersections=${intersectionsJson}"></svg>
            <div id="common-nodes" class="portrait-correction col m3 s12 mt-20 md-ml-50 table-wrapper">
                <th:block th:if="${!intersections.isEmpty()}">
                    <table class="bordered">
                        <thead>
                        <tr>
                            <th>Diseases</th>
                            <th th:text="${'Common '+#strings.capitalize(type)+'s'}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="instance : ${intersections}">
                            <tr class="fader" th:classappend="${'intersection_'+instanceStat.index}" data-toggled="0">
                                <td th:rowspan="${instance.value.size()}">
                                    <th:block th:each="disease : ${instance.key}">
                                <span th:text="${disease}"
                                ></span>
                                        <th:block th:if="${diseaseStat.index&lt;instance.key.size()-1}">
                                            <br></br>∩<br></br>
                                        </th:block>
                                    </th:block>
                                </td>
                                <td th:text="${instance.value[0]}"></td>
                            </tr>
                            <th:block th:if="${instance.value.size()>1}">
                                <th:block th:each="i : ${#numbers.sequence(1, instance.value.size()-1)}">
                                    <tr class="fader" th:classappend="${'intersection_'+instanceStat.index}"
                                        data-toggled="0">
                                        <td th:text="${instance.value[i]}"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>
                <th:block th:if="${intersections.isEmpty()}">
                    <table>
                        <caption class="pb-5 left-align"
                                 th:text="'There are no common '+${type}+'s within your disease list.'"></caption>
                        <!-- TODO: PLURAL -->
                        <thead>
                        <tr>
                            <th th:text="${'Disease'+(diseasesFeature.keySet().size()&gt;1?'s':'')}"></th>
                            <th th:text="${#strings.capitalize(type)+'s'}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="instance : ${diseasesFeature}">
                            <tr class="fader-one" th:classappend="${'intersection_'+instanceStat.index}"
                                data-toggled="0">
                                <td th:rowspan="${instance.value.size()}"
                                    th:text="${instance.key}"
                                ></td>
                                <th:block th:if="${!instance.value.isEmpty()}">
                                    <td th:text="${instance.value[0]}"></td>
                                </th:block>
                            </tr>
                            <th:block th:if="${instance.value.size()>1}">
                                <th:block th:each="i : ${#numbers.sequence(1, instance.value.size()-1)}">
                                    <tr class="fader-one" th:classappend="${'intersection_'+instanceStat.index}"
                                        data-toggled="0">
                                        <td th:text="${instance.value[i]}"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </th:block>
            </div>
        </div>
        <div class="row">
            <div class="ml-50">
                <button style="text-transform: none !important; padding-bottom: 30px !important;"
                        class="waves-effect waves-light btn blue darken-4 pl-10 pr-10" onclick="onDownload()">
                <span>
                Download JSON
                </span>
                    <i class="material-icons right ml-5">
                        arrow_circle_down
                    </i>
                </button>
            </div>
            <!--            <a id="download-json" class="waves-effect waves-light btn" download="graph.json" href=""><i class="material-icons left">cloud</i>button</a>-->
        </div>
    </th:block>
    <div th:if="${!diseasesWithoutFeatures.isEmpty()}" class="row">
        <div class="col s12 md-ml-50 md-pl-0 easy-bold"
             th:utext="${'No '+type+'s were found for: '+diseasesWithoutFeatures}"
             th:classappend="${emptySVG} ? 'center-align mt-50'"
        > <!-- TODO: PLURAL -->

        </div>
    </div>
    <!--</div>-->
    <div id="go-back-wrapper" class="go-back-icon-wrapper graph-fit" style="  ">
    <span id="go-back" class="material-icons md-24 md-till-menu-collapse-36 go-back-icon white-icon no-select ghost"
          style="transform: rotate(2.84217e-14deg); opacity: 1;">
            navigate_before
    </span>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/footer :: footer-js"></div>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>-->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider@1.8.0/dist/d3-simple-slider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" integrity="sha512-LfB+BcvR3zBt7ebVskhSWiSbEUiG3p5EcCprkieldsKhBeR6wpnLi0VpWC2GNgVGWP2n/skO8Bx2oKNjUhXCkw==" crossorigin="anonymous"></script>


<th:block th:if="${!emptySVG}">
    <th:block th:switch="${type}">
        <script th:case="'symptom'" type="text/javascript"
                th:src="@{/js/visualization/graphs/common-features.js}"></script>
        <th:block th:case="*">
            <script type="text/javascript"
                    th:src="@{/js/visualization/graphs/common-features-links-as-paths.js}"></script>
            <script type="text/javascript" th:unless="${type} eq 'pathway'"
                    th:src="@{/js/visualization/graphs/update-graph-slider.js}"></script>
        </th:block>
        <script type="text/javascript" th:src="@{/js/visualization/graphs/json-common-features.js}"></script>
    </th:block>
    <script type="text/javascript" th:src="@{/js/visualization/graphs/side-tables.js}"></script>
    <script type="text/javascript" th:src="@{/js/visualization/go-back.js}"></script>
    <script type="text/javascript" th:src="@{/js/visualization/graphs/session-storage.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/js/visualization/graphs/network-menu.js}"></script>-->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
</th:block>
</body>
</html>