<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table class="bordered" th:id="${'table_'+symptomId}">
    <thead>
    <tr>
        <th>Diseases</th>
    </tr>
    </thead>
    <th:block th:each="disease : ${diseases}">
        <tr>
            <td th:text="${disease}"></td>
        </tr>
    </th:block>
</table>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        const symptomId = /*[[${symptomId}]]*/
        $('#table_'+symptomId).DataTable({
            "dom": "Bft",
            "scrollY":        "70vh",
            "scrollCollapse": true,
            "paging":         false,
            "bInfo":         false,
            "language": {
                search: "_INPUT_",
                searchPlaceholder: "Search"
            },
            buttons: [
                {
                    extend: 'copy',
                    className: 'mt-10'
                }
            ]
        });
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();

        $('a[href="#tab_'+symptomId+'"]').click()
    })
    /*]]>*/
</script>
</body>
</html>