<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - Privacy Policy</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                    <h4 id="DISNET_Privacy_Policy" class="header blue-text text-darken-4 section scrollspy wrap-text">DISNET Privacy Policy</h4>

                    <div id="Concepts" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">Concepts</h5>
                        <p class="text-align-justify">DISNET is a web platform that allows a USER to access and retrieve the content contained in its database by using web services. </p>
                        <p class="text-align-justify text-indent">	The USER is a person that, voluntarily and through its registration, access to DISNET platform with the aim of make use of DISNET content.</p>
                        <p class="text-align-justify text-indent">MEDAL is the research laboratory at the “Centro de Tecnología Biomedica” of Universidad Politécnica de Madrid, OWNER of DISNET and all its content, being the responsible of the data management that are transferred to it, and in charge of the protection of the user’s rights.</p>
                    </div>

                    <div id="Legal_notice" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">Legal notice</h5>
                        <p class="text-align-justify">MEDAL guarantee the compliance of the current regulation about personal data protection, available in Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). It also complies with the General Data Protection Regulation (EU) 2016/679 (GDPR).</p>
                        <p class="text-align-justify text-indent">The information contained in DISNET is medical information. This information is not replacing or aiming to replace the diagnosis or the opinion of experts in the field. Hence, it must not be used to provide any medical recommendation.</p>
                        <p class="text-align-justify text-indent">The use of this website implies the acceptance of the privacy policy as well as any conditions included in the legal notice.</p>
                    </div>

                    <div id="What_data_we_collect" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">What data we collect?</h5>
                        <p class="text-align-justify">DISNET collects the following data:</p>
                        <p class="text-align-justify text-indent">
                            <ul class="collection">
                                <li class="collection-item text-align-justify">Personal identification information (Name, email address, institution, country of institution, occupation, and interest in use DISNET).</li>
                            </ul>
                        </p>

                    </div>

                    <div id="How_do_we_collect_your_data" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">How do we collect your data?</h5>
                        <p class="text-align-justify">You directly provide DISNET with most of the data we collect. We collect data and process data when:</p>
                        <p class="text-align-justify text-indent">
                            <ul class="collection">
                                <li class="collection-item text-align-justify">You register online.</li>
                                <li class="collection-item text-align-justify">You use or view our website via your browser's cookies.</li>
                                <li class="collection-item text-align-justify">You use our REST API to access DISNET data.</li>
                            </ul>
                        </p>
                    </div>

                    <div id="How_will_we_use_your_data" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">How will we use your data?</h5>
                        <p class="text-align-justify">DISNET collects your data so that we can:</p>
                        <p class="text-align-justify text-indent">
                            <ul class="collection">
                                <li class="collection-item text-align-justify">Manage your account.</li>
                                <li class="collection-item text-align-justify">Send you any update about DISNET.</li>
                                <li class="collection-item text-align-justify">Perform statistics about the DISNET use.</li>
                            </ul>
                        </p>
                    </div>

                    <div id="How_do_we_store_your_data" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">How do we store your data?</h5>
                        <p class="text-align-justify">DISNET securely stores your data at UPM servers located at Centro de Tecnología Biomédica (http://www.ctb.upm.es/). Data is stored in a database, being the only people allowed to query such database DISNET administrators. Passwords are stored encrypted.</p>
                    </div>

                    <div id="What_are_your_data_protection_rights" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">What are your data protection rights?</h5>
                        <p class="text-align-justify">DISNET would like to make sure you are fully aware of all your data protection rights. Every user is entitled to the following:</p>
                        <p class="text-align-justify text-indent">
                            <ul class="collection">
                                <li class="collection-item text-align-justify">The right to access: You have the right to request DISNET for copies of your personal data.</li>
                                <li class="collection-item text-align-justify">The right to rectification: You have the right to request DISNET correct any information you believe is inaccurate. You also have the right to request us to complete information you believe is incomplete.</li>
                                <li class="collection-item text-align-justify">The right to erasure: You have the right to request that DISNET erase your personal data, under certain conditions.</li>
                                <li class="collection-item text-align-justify">The right to restrict processing: You have the right to request that DISNET restrict the processing of your personal data, under certain conditions.</li>
                                <li class="collection-item text-align-justify">The right to object to processing: You have the right to object to DISNET processing of your personal data, under certain conditions.</li>
                                <li class="collection-item text-align-justify">The right to data portability: You have the right to request that DISNET transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
                                <li class="collection-item text-align-justify">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: contact [at] disnet-project [dot] com.</li>
                            </ul>
                        </p>
                    </div>

                    <div id="Changes_to_our_privacy_policy" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">Changes to our privacy policy</h5>
                        <p class="text-align-justify">DISNET keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on January 27th, 2020.</p>
                    </div>

                    <div id="How_to_contact_us" class="section scrollspy">
                        <h5 class="header blue-text text-darken-3">How to contact us?</h5>
                        <p class="text-align-justify">If you have any question about DISNET privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us at: contact [at] disnet-project [dot] com</p>
                    </div>
                </div>

                <div id="float_table_of_content" class="col hide-on-small-only m3 xl3 offset-xl1" >
                    <div class="toc-wrapper pinned" style="top: 0px;">
                        <!--<div class="buysellads hide-on-small-only"></div>-->
                        <div style="height: 1px;">
                            <ul class="section table-of-contents">
                                <li><a href="#DISNET_Privacy_Policy">DISNET Privacy Policy</a></li>
                                <li><a href="#Concepts">1. Concepts</a></li>
                                <li><a href="#Legal_notice">2. Legal notice</a></li>
                                <li><a href="#What_data_we_collect">3. What data we collect?</a></li>
                                <li><a href="#How_do_we_collect_your_data">4. How do we collect your data?</a></li>
                                <li><a href="#How_will_we_use_your_data">5. How will we use your data?</a></li>
                                <li><a href="#How_do_we_store_your_data">6. How do we store your data?</a></li>
                                <li><a href="#What_are_your_data_protection_rights">7. What are your data protection rights?</a></li>
                                <li><a href="#Changes_to_our_privacy_policy">8. Changes to our privacy policy</a></li>
                                <li><a href="#How_to_contact_us">9. How to contact us?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>

</body>
</html>