input.waves-button-input {
    color: transparent !important;
}


.ui-datepicker {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    border-radius: 6px;
}
.ui-widget .ui-widget-content{
    background-color: white;
    color: white;
    border: 0;
}

.btn-xl {
    width: 60px !important;
    height: 60px !important;
}

.open-sans {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.viz-title{
    font-size: 1.32rem;
}

textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #0D47A1;
    -webkit-box-shadow: 0 1px 0 0 #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}
textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #ff9800;
}

/* label focus color */
input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
    color: #ff9800;
}
/* label underline focus color */
input[type="text"]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #0D47A1;
    box-shadow: 0 1px 0 0 #0D47A1;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #0D47A1;
}

#chips, #chips2{
    border-bottom: none !important;
}
.invisible{
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    z-index: -1 !important;
}
.ui-autocomplete {
    max-height: 36vh;
    width: 22.25%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.form-step-align {
    margin-top: 2vh;
}

.cue-left{
    margin-right: 100%;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.step-1-border {
    border-bottom: 1px solid #aeaeae;
}

.step-3-border {
    border-top: 1px solid #aeaeae;
}


@media only screen and (min-width: 601px) {
    .material-icons.md-m-18 { font-size: 18px; }
    .material-icons.md-m-24 { font-size: 24px; }
    .material-icons.md-m-36 { font-size: 36px; }
    .material-icons.md-m-48 { font-size: 48px; }

    .step-1-border {
        border-bottom: 0;
        border-right: 1px solid #d0d0d0;
    }

    .step-3-border {
        border-top: 0;
        border-left: 1px solid #d0d0d0;
    }
    .form-step-height {
        min-height: 55vh !important;
    }
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-disnet-accent { color: rgba(255, 152, 0, 0.75); }
.material-icons.md-disnet-accent.md-inactive { color: rgba(255, 152, 0, 0.3); }

.circle-important{
    border-radius: 50% !important;
}

span.disable-submit{
    color: rgba(0, 0, 0, 0.26) !important;
}
