/*.pt-page-moveToLeft {*/
/*    -webkit-animation: moveToLeft .6s ease both;*/
/*    animation: moveToLeft .6s ease both;*/
/*}*/

/*.pt-page-moveFromRight {*/
/*    -webkit-animation: moveFromRight .6s ease both;*/
/*    animation: moveFromRight .6s ease both;*/
/*}*/

/*
.moveToLeft {
    transition: none 1s ease-out;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
    !*animation-name: goLeft;*!
    !*animation-duration: 500ms;*!
    !*animation-timing-function: ;*!
    !*animation-iteration-count: ;*!
    !*animation-direction: ;*!
    !*animation-delay; 2s;*!
}
*/

/*@keyframes goLeft {*/
/*    !* Basic move left and right*!*/
/*    0% {transform: translateX(5vw) }*/
/*    99% {transform: translateX(-100vw);}*/
/*    100% {display: none}*/
/*}*/