<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - DISNET API Common errors</title>
    <div th:replace="fragments/header :: header-css"/>
    <!--<link type="text/css" rel="stylesheet"  th:href="@{/css/prism/okaidia/prism.css}" media="screen,projection" />-->
    <link type="text/css" rel="stylesheet"  th:href="@{/css/prism/prism_default.css}" media="screen,projection" />
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                    <div id="Common_errors" class="section scrollspy">
                        <h4 class="header blue-text text-darken-3">Common errors</h4>
                        <!--<p>Information will added soon</p>-->
                        <ul class="collection">
                            <li class="collection-item text-align-justify">
                                <h5 id="Authorization_error" class="section scrollspy">Authorization error</h5>
                                <pre>
                                    <code class="language-json">
                                        {
                                            "token": "eyJhbGciOiJI...",
                                            "authorized": false,
                                            "authorizationMessage": "DNERR_06003: Cannot read the token's email property. Please verify!",
                                            "responseCode": "511",
                                            "responseMessage": "Network Authentication Required",
                                            "errorsFound": [
                                                {
                                                    "errorCode": "401",
                                                    "errorStatus": "UNAUTHORIZED",
                                                    "message": "The access token credential are missing or invalid for the given request. Wrong token.",
                                                    "parameter": {
                                                        "name": "token",
                                                        "required": true,
                                                        "defaultValue": false,
                                                        "value": "",
                                                        "message": ""
                                                    }
                                                }
                                            ]
                                        }
                                    </code>
                                </pre>
                            </li>

                            <li class="collection-item text-align-justify">
                                <h5 id="Source_error" class="section scrollspy">Source error</h5>
                                <pre>
                                    <code class="language-json">
                                        {
                                            "token": "eyJhbGciOiJI...",
                                            "authorized": true,
                                            "authorizationMessage": "Authorized!",
                                            "responseCode": "200",
                                            "responseMessage": "OK",
                                            "errorsFound": [
                                                {
                                                    "errorCode": "404",
                                                    "errorStatus": "RESOURCES_NOT_FOUND",
                                                    "message": "Could not find resources. No versions were found for the source. Verify the DISNET source list.",
                                                    "parameter": {
                                                        "name": "source",
                                                        "required": true,
                                                        "defaultValue": false,
                                                        "value": "wikiedia",
                                                        "message": ""
                                                    }
                                                }
                                            ]
                                        }
                                    </code>
                                </pre>
                            </li>

                            <li class="collection-item text-align-justify">
                                <h5 id="Version_error" class="section scrollspy">Version error</h5>
                                <pre>
                                    <code class="language-json">
                                        {
                                            "token": "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJncmFyZG9sYWdhckBob3RtYWlsLmNvbSIsImF1ZCI6IndlYiIsIm5hbWUiOiJHZXJhcmRvIExhZ3VuZXMiLCJ1c2VyIjp0cnVlLCJpYXQiOjE1MDk2MTQyNjh9.uVhDgfLrAgdnj02Hsbgfj9tkVlfni89i0hKVYW31eHApCHpheikK9ae1MhbzRhiyUcFGMKwtiyVgff5NCMY3PA",
                                            "authorized": true,
                                            "authorizationMessage": "Authorized!",
                                            "responseCode": "400",
                                            "responseMessage": "A required parameter for this API operation is invalid or has not been provided",
                                            "errorsFound": [
                                                {
                                                    "errorCode": "404",
                                                    "errorStatus": "RESOURCE_NOT_FOUND",
                                                    "message": "Could not find resource. The version was not found. Check the DISNET version list by source.",
                                                    "parameter": {
                                                        "name": "version",
                                                        "required": true,
                                                        "defaultValue": false,
                                                        "value": "2018-10-15"
                                                    }
                                                }
                                            ],
                                            "diseaseCount": 0,
                                            "diseaseList": []
                                        }
                                    </code>
                                </pre>
                            </li>

                            <li class="collection-item text-align-justify">
                                <h5 id="Invalid_disease_name_error" class="section scrollspy">Disease name error</h5>
                                <pre>
                                    <code class="language-json">
                                        {
                                            "token": "eyJhbGciOiJI...",
                                            "authorized": true,
                                            "authorizationMessage": "Authorized!",
                                            "responseCode": "400",
                                            "responseMessage": "A required parameter for this API operation is invalid or has not been provided",
                                            "errorsFound": [
                                                {
                                                    "errorCode": "404",
                                                    "errorStatus": "RESOURCE_NOT_FOUND",
                                                    "message": "Could not find resource. No disease with that exact name was found. Verify the exact disease name in the DISNET disease list.",
                                                    "parameter": {
                                                        "name": "diseaseName",
                                                        "required": true,
                                                        "defaultValue": false,
                                                        "value": "InvalidName"
                                                    }
                                                }
                                            ]
                                        }
                                    </code>
                                </pre>
                            </li>

                            <li class="collection-item text-align-justify">
                                <h5 id="Defining_semantic_types_error" class="section scrollspy">Semantic types definition error</h5>
                                <pre>
                                    <code class="language-json">
                                        {
                                                "token": "eyJhbGciOiJI...",
                                                "authorized": true,
                                                "authorizationMessage": "Authorized!",
                                                "responseCode": "200",
                                                "responseMessage": "OK",
                                                "errorsFound": [
                                                    {
                                                        "errorCode": "404",
                                                        "errorStatus": "RESOURCE_NOT_FOUND",
                                                        "message": "Could not find resource. Semantic type not found.",
                                                        "parameter": {
                                                            "name": "forceSemanticTypes",
                                                            "required": false,
                                                            "defaultValue": false,
                                                            "value": "InvalidValue"
                                                        }
                                                    }
                                                ]
                                            }
                                    </code>
                                </pre>
                            </li>

                        </ul>
                    </div>
                </div>
                <div id="float_table_of_content" class="col hide-on-small-only m3 xl3 offset-xl1" >
                    <div class="toc-wrapper pinned" style="top: 0px;">
                        <!--<div class="buysellads hide-on-small-only"></div>-->
                        <div style="height: 1px;">
                            <ul class="section table-of-contents">
                                <li><a href="/apis/disnet#DISNET_REST_API_DOCUMENTATION">DISNET API DOCUMENTATION</a></li>
                                <li><a href="/apis/disnet#Version_information">1. Version_information</a></li>
                                <li><a href="/apis/disnet#Getting_Started">2. Getting Started</a></li>
                                <li><a href="/apis/disnet#REST_API_Introduction">3. REST API Introduction</a></li>
                                <li><a href="/apis/disnet#NLP_Tools_and_Configuration">4. NLP Tools and Configuration</a></li>
                                <li><a href="/apis/disnet#Service_List">5. Service List</a></li>

                                <li><a href="/apis/disnet/common_errors#Common_errors">6. Common errors</a></li>

                                <li><a href="#Authorization_error" class="text-indent-sub">Authorization error</a></li>
                                <li><a href="#Source_error" class="text-indent-sub">Source error</a></li>
                                <li><a href="#Version_error" class="text-indent-sub">Version error</a></li>
                                <li><a href="#Invalid_disease_name_error" class="text-indent-sub">Disease name error</a></li>
                                <li><a href="#Defining_semantic_types_error" class="text-indent-sub">Semantic types definition error</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>
    <script type="text/javascript" th:src="@{/js/prism/prism_default.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/prism/okaidia/prism.js}"></script>-->
</body>
</html>