<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DISNET - DISNET API endpoint /query/diseaseCount</title>
    <div th:replace="fragments/header :: header-css"/>
    <!--<link type="text/css" rel="stylesheet"  th:href="@{/css/prism/okaidia/prism.css}" media="screen,projection" />-->
    <link type="text/css" rel="stylesheet"  th:href="@{/css/prism/prism_default.css}" media="screen,projection" />
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m1 xl7 offset-xl1">
                    <div id="Retrieve_number_of_diseases" class="section scrollspy">
                        <h3 class="header blue-text text-darken-3">/query/diseaseCount</h3>
                        <p>Information will added soon</p>
                    </div>
                    <ul class="collection">
                            <li class="collection-item text-align-justify">
                                <h5 id="Description" class="section scrollspy">Description</h5>
                                <p class="text-align-justify text-indent">Retrieve number of diseases for a given source and snapshot</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="URL_PATH" class="section scrollspy">URL (PATH)</h5>
                                <p class="text-align-justify text-indent">/query/diseaseCount?</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Method" class="section scrollspy">Method</h5>
                                <p class="text-align-justify text-indent">GET</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Auth_required" class="section scrollspy">Auth required</h5>
                                <p class="text-align-justify text-indent">Yes (token)</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Request_parameters_description" class="section scrollspy">Request parameters</h5>
                                <table class="striped highlight responsive-table">
                                    <thead>
                                    <tr>
                                        <th class="grey-text text-darken-2">Parameter</th>
                                        <th class="grey-text text-darken-2">Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>token *required</b>
                                                <br/>[alphanumeric]
                                                <br/>example: token=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJncmGlGG...
                                            </td>
                                            <td>Access key that allows the query to be executed.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Example_request" class="section scrollspy">Example request</h5>
                                <p class="text-align-justify text-indent">...</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Success_response" class="section scrollspy">Success response (application/json)</h5>
                                <p class="text-align-justify text-indent">...</p>
                                <p>Example:</p>
                                <p class="text-align-justify text-indent">...</p>
                            </li>
                            <li class="collection-item text-align-justify">
                                <h5 id="Error_response" class="section scrollspy">Error response (application/json)</h5>
                                <p class="text-align-justify text-indent">...</p>
                                <p>Example:</p>
                                <p class="text-align-justify text-indent">...</p>
                            </li>
                        </ul>
                </div>
                <div id="float_table_of_content" class="col hide-on-small-only m3 xl3 offset-xl1" >
                    <div class="toc-wrapper pinned" style="top: 0px;">
                        <!--<div class="buysellads hide-on-small-only"></div>-->
                        <div style="height: 1px;">
                            <ul class="section table-of-contents">
                                <li><a href="/apis/disnet#DISNET_REST_API_DOCUMENTATION">DISNET API DOCUMENTATION</a></li>
                                <li><a href="/apis/disnet#Version_information">1. Version_information</a></li>
                                <li><a href="/apis/disnet#Getting_Started">2. Getting Started</a></li>
                                <li><a href="/apis/disnet#REST_API_Introduction">3. REST API Introduction</a></li>
                                <li><a href="/apis/disnet#NLP_Tools_and_Configuration">4. NLP Tools and Configuration</a></li>
                                <li><a href="/apis/disnet#Service_List">5. Service List</a></li>

                                <li><a href="#Retrieve_number_of_diseases" class="text-indent">Retrieve number of diseases</a></li>

                                <li><a href="#Description" class="text-indent-sub">Description</a></li>
                                <li><a href="#URL_PATH" class="text-indent-sub">URL (PATH)</a></li>
                                <li><a href="#Method" class="text-indent-sub">Method</a></li>
                                <li><a href="#Auth_required" class="text-indent-sub">Auth required</a></li>
                                <li><a href="#Request_parameters_description" class="text-indent-sub">Request parameters description</a></li>
                                <li><a href="#Example_request" class="text-indent-sub">Example request</a></li>
                                <li><a href="#Success_response" class="text-indent-sub">Success response</a></li>
                                <li><a href="#Error_response" class="text-indent-sub">Error response</a></li>

                                <li><a href="/apis/disnet/common_errors#Common_errors">6. Common errors</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/footer :: footer-js"/>
    <script type="text/javascript" th:src="@{/js/prism/prism_default.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/prism/okaidia/prism.js}"></script>-->
</body>
</html>